.rightbar{
    position: sticky;
    top: 0;
    right: 0;
    padding: 80px 20px;
    width: 250px;
    min-height: 100vh;
    background-color:white;
    z-index: 1;
    -webkit-box-shadow: 2px 0 8px 0 rgba(34,60,80,0.2);
-moz-box-shadow:2px 0 8px 0 rgba(34,60,80,0.2);
box-shadow:2px 0 8px 0 rgba(34,60,80,0.2);
}
.rightbar__link{
    margin-bottom: 15px;
    text-decoration:underline;
}