.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    padding: 80px 20px;
    width: 250px;
    min-height: 100vh;
    background-color:gray;
    z-index: 1;
}
.sidebar__wrapper{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.sidebar__avatar{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 20px;
}
.sidebar__avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hr{
    width: 200px;
}
.sidebar__name{
    font-size: 30px;
}
.sidebar__icon{
    position: relative;
    width: 42px;
    height: 42px;
    border: 1px solid black;
    border-radius: 50px;
    margin-right: 10px;
}
.sidebar__icon svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 24px;
}
.sidebar__list{
    padding: 0 60px;
}
.sidebar__lists{
    margin-bottom: 10px;
    font-size: 18px;
}