.card__icons{
    display: flex;
    margin: 15px 0;

}
.card__icon{
    display: flex;
    margin-right: 15px;
    align-items: center;
}
.card__icon p {
    margin-left: 5px;
}
.card__img{
    width: 100%;
}
.card__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card{
    margin: 15px;
}