.details__wrapper{
    padding: 100px;
    -webkit-backdrop-filter: blur(70px);
    backdrop-filter: blur(70px);
    border-radius: 10px;
}
.details__title{
    font-size: 30px;
    font-family:'Sofia Sans', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    text-decoration:underline;
}
.details__img{
    height: 550px;
}
.details__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.details__content{
    font-size: 26px;
    font-family:'Sofia Sans', sans-serif;
  margin-top: 15px;
}
.details__icon{
    margin-top: 20px;
    display: flex;
    align-items: center;
}