@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
}
.super__wrapper{
    display: flex;
    justify-content: space-between;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(188,188,205,1) 35%, rgba(0,212,255,1) 100%);
    

}
