@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
}
.super__wrapper{
    display: flex;
    justify-content: space-between;
}